@page "/history"

<PageTitle>History</PageTitle>
<div class="d-flex flex-column content gap-4">
    <h2 class="fw-bold">My rides</h2>
    <MudExpansionPanels MultiExpansion="true">
        @if (_rideGroups?.Any() ?? false)
        {
            @foreach (var rideGroup in _rideGroups)
            {
                <MudExpansionPanel HideIcon="true" Text="@rideGroup.Key" Expanded="true">
                    @foreach (var ride in rideGroup.SkipLast(1))
                    {
                        <Ride RideInfo="@ride" OnRebook="RebookClickedAsync"/>
                        <hr/>
                    }
                    <Ride RideInfo="@rideGroup.Last()"/>
                </MudExpansionPanel>
            }
        }
        else
        {
            <span>No rides.</span>
        }
    </MudExpansionPanels>
</div>
