@page "/history"

<PageTitle>History</PageTitle>
<div class="content">
    <h2>My rides</h2>
    <Accordion>
        @foreach (var rideGroup in _rideGroups)
        {
            <AccordionItem Visible="true">
                <AccordionHeader>
                    <strong>@rideGroup.Key</strong>
                </AccordionHeader>
                <AccordionBody>
                    @foreach (var ride in rideGroup)
                    {
                        <authentication RideInfo="@ride">
                        </authentication>
                    }
                </AccordionBody>
            </AccordionItem>
        }
    </Accordion>
</div>
