.search-destination {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, 0);
    left: 50%;
    top: 25px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:focus {
    outline: none;
}