@page "/"
@using FastRide.Client.Models
@using FastRide.Server.Contracts.Enums
@using FastRide.Server.Contracts.Models
@inherits ComponentBase

<PageTitle>Home</PageTitle>

<div id="map" style="height: 600px; width: 100%;"></div>