@page "/"
@inherits ComponentBase

<PageTitle>Home</PageTitle>

<div style="height:98vh">
    <GoogleMap @ref="@_map" Id="map" Options="@_mapOptions" Height="100%" OnAfterInit="AfterMapRender"></GoogleMap>
</div>