@page "/"
@inherits ComponentBase

<PageTitle>Home</PageTitle>

<div class="search-destination">
    <MudGrid>
        <MudItem xs="12">
            <MudAutocomplete T="string" Label="US States" @bind-Value="_state" SearchFunc="@Search" Variant="Variant.Outlined" ShowProgressIndicator="true" />
        </MudItem>
    </MudGrid>
</div>
<div style="height:100dvh; width: 100dvw;">
    <RealTimeMap></RealTimeMap>
</div>
