.DS_Store
Documentation/.DS_Store
Documentation/indent.log
Documentation/Assets/.$Digrams.drawio.bkp
Documentation/Assets/.DS_Store
Documentation/output/main.aux
Documentation/output/main.bbl
Documentation/output/main.bcf
Documentation/output/main.fdb_latexmk
Documentation/output/main.fls
Documentation/output/main.log
Documentation/output/main.synctex.gz
Documentation/output/main.toc
Documentation/output/Chapters/ConclusionChapter.aux
Documentation/output/Chapters/Covers.aux
Documentation/output/Chapters/DesignAppChapter.aux
Documentation/output/Chapters/IntroductionChapter.aux
Documentation/output/Chapters/SoftwareChapter.aux
Documentation/output/Chapters/TechnologyChapter.aux
Documentation/output/Chapters/UsageAppChapter.aux
