@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>

<MudDialogProvider/>

<MudSnackbarProvider/>

<div class="sidebar">
    <NavMenu/>
</div>

<div class="page">
    <main>
        <article class="content">
            <div visibility=@(!OverlayState.DataLoading ? "visible" : "hidden")>
                @Body
            </div>
            <div visibility=@(OverlayState.DataLoading ? "visible" : "hidden")>
                <Overlay/>
            </div>
        </article>
    </main>
</div>