@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>

<MudDialogProvider/>

<MudSnackbarProvider/>

<div class="info">
    <InfoStatus/>
</div>
<div class="sidebar">
    <NavMenu/>
</div>

@if (OverlayState.DataLoading)
{
    <Overlay/>
}

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@if (_developmentMode)
{
    <div class="position-absolute bottom-0 start-0" style="z-index: 1000;">
        Development mode! Data is mocked!
    </div>
}