.nav-item {
    font-size: 1.2rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .nav-item ::deep a {
        color: black;
        border-radius: 50px;
        display: flex;
        height: max-content;
        width: max-content;
        align-items: center;
        background-color: white;
    }

.nav-item ::deep a.active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

.nav-item ::deep a:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

.nav-item .nav-link {
    padding: 0;
}

.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
