@using FastRide.Server.Contracts.Enums
<nav class="d-flex flex-row align-items-center justify-content-center">
    <div class="nav-item px-1">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i>
        </NavLink>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="history">
                    <i class="bi bi-calendar2-week"></i>
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <UserSettingsPopover Context="@context"/>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link btn btn-link bg-danger text-white" @onclick="@LogOutAsync">
                    <i class="bi bi-box-arrow-right "></i>
                </NavLink>
            </div>
            @if (context.User.Identity!.IsAuthenticated)
            {
                if (DestinationState.Geolocation != null)
                {
                    if (context.User.IsInRole(UserType.User.ToString()))
                    {
                        <StartRideButton/>
                    }
                }

                if (context.User.IsInRole(UserType.Driver.ToString()))
                {
                    <AcceptRidePopup/>
                }
            }
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-1">
                <NavLink class="nav-link" @onclick="@LogInAsync">
                    <i class="bi bi-box-arrow-in-right"></i>
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>