@using FastRide.Client.Enums
@using FastRide.Server.Contracts.Enums
<nav class="d-flex flex-row align-items-center justify-content-center">
    <AuthorizeView>
        <Authorized>
            @if (CurrentRideState.State != RideStatus.None)
            {
                <div class="nav-item px-1">
                    @CurrentRideState.State.GetDescription()
                </div>
            }
        </Authorized>
    </AuthorizeView>
</nav>
