<div class="d-flex flex-row justify-content-between ride">
    <div class="gray-label">
        <i class="bi bi-car-front"></i>
    </div>
    <div class="d-flex flex-column">
        <strong class="destination-name">@RideInfo.Destination</strong>
        <p class="text-muted">@RideInfo.FinishTime.ToString("dd MMM, HH:mm"), LEI @RideInfo.Cost</p>
    </div>
    <button class="gray-label">
        <i class="bi bi-arrow-counterclockwise"></i>
        <span>Rebook</span>
    </button>
</div>